<div class="mini" id="content-header">
    <h1>{{'FAQS' | translate}}</h1>
</div>
<div id="breadcrumb">
    <a class="tip-bottom" title="" href="/"><i class="fa fa-home"></i> {{'Home' | translate}}</a>
    <a href class="current">{{'FAQS' | translate}}</a>
</div>
<div class="container-fluid">
    <h1>如何使用自定义头像</h1>
    <p>使用平台上注册的邮箱，去<a href="http://cn.gravatar.com/" target="_blank">gravatar</a>注册一个用户，之后上传用户头像，就可在平台上显示该邮箱绑定的用户头像。</p>
    <h1>如果网站功能显示不正常</h1>
    <p>尝试清空浏览器缓存，之后刷新页面。如果还有问题，可联系管理员解决。</p>
    <h1>众筹</h1>
    <p>为了丰富平台游戏数量，玩家或开发者可通过众筹的方式，集齐开发资金，游戏开发完后，可直接在平台上线。</p>
</div>