<div ng-controller="ChangePasswordController">
<div class="panel panel-default">
    <div class="panel-heading"><span class="icon"><i class="glyphicon glyphicon-lock"></i></span>{{'Change your password' | translate}}</div>
    <div class="panel-body">
        <form name="changePasswordForm" ng-submit="submit()" novalidate>
            <p>{{'We recommend you to use a strong password.' | translate}} </p>
            <div class="form-group">
                <label for="">{{'New password' | translate}}</label>
                <input type="password" class="form-control" name="password" ng-model="password" ng-minlength="8" ng-maxlength="20">
                <div class="help-block text-danger" ng-if="changePasswordForm.password.$dirty" ng-messages="changePasswordForm.password.$error">
                    <div ng-message="required">Password is required.</div>
                    <div ng-message="minlength">Password is required to be at least 8 characters.</div>
                    <div ng-message="maxlength">Password cannot be longer than 20 characters.</div>
                    <div ng-message="pattern">A password must contain at least 1 upper case letter, 1 lower case letter, 1 number or special character.</div>
                </div>
            </div>

            <div class="form-group">
                <label for="">{{'Retype password' | translate}}</label>
                <input type="password" class="form-control" name="confirmation" password-match="password" ng-model="confirmation">
                <div class="help-block text-danger" ng-if="changePasswordForm.confirmation.$dirty" ng-messages="changePasswordForm.confirmation.$error">
                    <div ng-message="compareTo">Password must match.</div>
                </div>
            </div>
            <button type="submit" class="btn btn-w-lg btn-success" ng-disabled="!canSubmit()"><i class="fa fa-lock"></i> {{'Change your password' | translate}}</button>
        </form>
    </div>
</div>
</div>