
<div class="modal-header">
	<button data-dismiss="modal" class="close" type="button" ng-click="cancel()">×</button>
	<h3>{{'Password Confirmation' | translate}}</h3>
</div>
<form name="validPasswordForm" class="form-validation form-modal" ng-submit="submit()" autocomplete="off" novalidate>
	<div class="modal-body">
		<div class="row">
	        <div class="col-lg-12">
	            <p class="lead text-center" style="font-size:18px">{{'Type in your current password' | translate}}</p>
	        </div>
	        <div class="col-lg-10 col-lg-offset-1">
	         
	                <div class="form-group">
	                    <div class="input-group input-group-lg">
	                        <span class="input-group-addon">
	                            <span class="glyphicon glyphicon-lock"></span>
	                        </span>
	                        <input type="password"
	                            class="form-control input-lg"
	                            placeholder="password"
	                            ng-model="password"
	                            name="password"
	                            ng-minlength="8" ng-maxlength="20"
	                            required
	                        >
	                    </div>
	                    <div class="help-block text-danger" ng-if="validPasswordForm.password.$dirty" ng-messages="validPasswordForm.password.$error">
	                        <div ng-message="required">Password is required.</div>
	                        <div ng-message="minlength">Password is required to be at least 8 characters.</div>
	                        <div ng-message="maxlength">Password cannot be longer than 20 characters.</div>
	                        <div ng-message="pattern">A password must contain at least 1 upper case letter, 1 lower case letter, 1 number or special character.</div>
	                    </div>
	                </div>
	            
	        </div>
	    </div>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-primary btn-small" ng-disabled="!isValid()">{{'Confirm' | translate}}</button>
		<button class="btn btn-default btn-small" ng-click="cancel()">{{'Cancel' | translate}}</button>
	</div>
</form>