<style>


</style>
<h3>一：币游分红股计划</h3>
<p>币游网（coingame.io)总共将送出3000万股分红股。分红股是币游的一种分红凭证，1分红股等于1分红权益。币游收入的30%将免费奖励给所有已经赠送的分红股，并按照用户持有的实际分红股比例，在每周五进行赠送。</p>
<p>比如：网站所有用户当前共持有2000万股股票，你持有20万股，那么你可以获得每期分红的100分之1，网站总收入的1000分之3（每期分红是总收入的30%）。</p>
<h3>二．分红股获取规则</h3>
<strong>玩家</strong>
<table class="table table-bordered" width="100%" border="1">
    <tr>
        <td>已赠送的分红股数量X	送股条件</td>
        <td>送股条件</td>
    </tr>
    <tr>
        <td>X&lt;=2300万</td>
        <td>0.01B/股</td>
    </tr>
    <tr>
        <td>2300万&lt;X&lt;=2500万</td>
        <td>0.02B/股</td>
    </tr>
    <tr>
        <td>2500万&lt;X&lt;=2900万</td>
        <td>0.03B/股</td>
    </tr>
    <tr>
        <td>2900万&lt;X&lt;=3000万</td>
        <td>0.04B/股</td>
    </tr>
</table>
<p>其他币根据换股比例来兑换，<code>不在换股比例的币暂时不参与送股</code>。（换股比例依据等值比特币来计算）</p>
<strong>庄家</strong>
<p>每 5 分钟对全体庄家合计送出20股，依据各庄家所占投资比例分配，满一股时就派发。 例子：如果庄家此时有500 BTC，您此时入资100B(占20%)，其他庄家入资400B(占80%),每5分钟系统自动为您累积0.2股，25分钟后派发一股。</p>
<p>三：信息披露及分红操作方法</p>
<p>1、币游游戏平台和交易平台每天的收入详情都透明公开。</p>
<p>2、币游网会在股票界面对分红股分红收益进行实时更新，并与每周五把分红金额存入用户的币游账户内。</p>
<h3>四: 交易规则以及风险警示</h3>
<p>1、币游分红股能在币游交易市场上交易,代码CGS。</p>
<p>2、币游分红股只是币游的一种分红凭证，币游平台无法对分红股的增值空间作出承诺，分红股交易具有投资风险，望交易者谨慎参与。</p>
<h3>五 其它条款</h3>
<p>1、币游分红股仅作为币游平台分红权益凭证，持有币游分红股可享受币游平台终生分红权利，但分红股不作为币游公司的股权凭证。</p>
<p>2、本分红计划不可避免地会出现不合理之处，币游平台有权利根据实际运营状况，调整上述赠送规则。（仅调整赠送规则，保证已赠送的分红股的分红权益）</p>
<p>3、由于虚拟货币在全球的法律前景存在一定的不确定性，虚拟货币游戏以及交易平台业务存在一定的法律风险，因法律政策变动所引起的额外损失是分红股的风险之一，请您综合考虑。币游平台无法承诺法律框架外的事宜。</p>
<p>4、本分红计划解释权归本公司所有，未尽事宜，请以最新公告为准。</p>